body{
    
            display: flex;
            flex-direction: column;
            
            justify-content: end;

            
            background-color: black;
            min-height: 95vh;
            width: 25%;
            margin: 0 auto;
        }

        .logic-color{
            color: aliceblue;
        }

        .text-color{
            color: white;
        }

        #top-operators{
            display: contents;
        }

        #top-operators button{
            background-color: gray;
            color: white;
        }

        

        #right-operator{
            grid-area: right-operator;
            display: flex;
            flex-direction: column;
        }

        #right-operator button{
            background-color: orange;
            color: white;
        }

        #answers{
            
            display: flex;
            flex-direction: column;
            align-items: end;  
            margin-right: 16px;
            
        }

        button{
            width: 5vw;
            height: 5vw;
            border-radius: 50%;
            margin: 8px;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
        }

        #number-grid{
            display: contents;
        }

        #button-1{grid-area: button-1;}
        #button-2{grid-area: button-2;}
        #button-3{grid-area: button-3;}
        #button-4{grid-area: button-4;}
        #button-5{grid-area: button-5;}
        #button-6{grid-area: button-6;}
        #button-7{grid-area: button-7;}
        #button-8{grid-area: button-8;}
        #button-9{grid-area: button-9;}
        #button-0{
            grid-area: button-0;
            /* border-radius: 50px; */
        }

        #number-grid button{
            background-color: #333;
            color: white;
        }

        .calculation-grid{
            margin: 0 auto;
            padding: 0;
            align-items: end;
            width: 100%;
            
            display: grid;
            
            grid-template-areas:
             "top-operators top-operators top-operators right-operator"
             "button-7 button-8 button-9 right-operator"
             "button-4 button-5 button-6 right-operator"
             "button-1 button-2 button-3 right-operator"
             ". button-0 . right-operator";
             justify-content: end;
             
             margin-left: auto;
        }

        
